/* CSS for the theme toggle button */
.theme-container {
  top: 5vh; /* Positioning the button from the top */
  left: 5vh; /* Positioning the button from the left */
  position: fixed; /* Fixes the button on the screen */
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
}

.toggle-icon {
  height: 45px; /* Set icon height */
  width: 45px; /* Set icon width */
  cursor: pointer; /* Changes cursor to pointer on hover */
  transition: transform 0.5s; /* Smooth transition for rotation effect */
}

/* Rotate the icon 360 degrees on hover */
.toggle-icon:hover {
  transform: rotate(360deg);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .theme-container {
      left: 2.5vw; /* Adjust left position for smaller screens */
      top: 2.5vh; /* Adjust top position for smaller screens */
  }

  .toggle-icon {
      width: 40px; /* Adjust icon width for smaller screens */
      height: 40px; /* Adjust icon height for smaller screens */
  }
}
